*.un~
*~
.qmake.stash
Makefile
build.log
caQtDM_Env.local
Makefile
caQtDM_Binaries/
caQtDM_Lib/Makefile
caQtDM_Lib/caQtDM_Plugins/Makefile.csplugins
caQtDM_Lib/caQtDM_Plugins/demo/Makefile
caQtDM_Lib/caQtDM_Plugins/demo/moc/
caQtDM_Lib/caQtDM_Plugins/demo/obj/
caQtDM_Lib/caQtDM_Plugins/epics3/Makefile
caQtDM_Lib/caQtDM_Plugins/epics3/moc/
caQtDM_Lib/caQtDM_Plugins/epics3/obj/
caQtDM_Lib/moc/
caQtDM_Lib/obj/
caQtDM_QtControls/Makefile
caQtDM_QtControls/fuck.log
caQtDM_QtControls/moc/
caQtDM_QtControls/obj/
caQtDM_QtControls/plugins/Makefile.qtcontrols_controllers
caQtDM_QtControls/plugins/Makefile.qtcontrols_graphics
caQtDM_QtControls/plugins/Makefile.qtcontrols_monitors
caQtDM_QtControls/plugins/moc/
caQtDM_QtControls/plugins/obj/
caQtDM_QtControls/plugins/qrc_qtcontrolsplugin.cpp
caQtDM_QtControls/qrc_qtcontrols.cpp
caQtDM_Viewer/Makefile
caQtDM_Viewer/moc/
caQtDM_Viewer/obj/
caQtDM_Viewer/parser/Makefile
caQtDM_Viewer/parser/obj/
caQtDM_Viewer/parserEDM/Makefile
caQtDM_Viewer/parserEDM/obj/
caQtDM_Viewer/qrc_caQtDM.cpp
caQtDM_Viewer/src/ui_main.h
